a{
    outline: none;
}

p{
    margin: 0;
}

.clearfix {
    .clearfix();
}

.alignright {
    float: right;
}

.alignleft {
    float: left;
}

.inline-block-helper{
    display: inline-block;
    width: 100%;
    height: 0;
}