.header {
    background-color: @cc-1;
    >div,
    >a {

    }
    &__logo {
        display: block;
        padding: 0;
        background-color: @cc-2;
        >img {
            width: 200px;
        }
    }

    &__callback{
    	>a{
    		display: block;
    	}
    }
}
